* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --c-global-background: #fff7e4;
    --c-global-text: #2d2d2d;

    --size-xs: .15rem;
    --size-s: .4rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 4rem;
}

html {}

body {
    background-color: var(--c-global-background);
    color: var(--c-global-text);
}

a {
    all: unset;
    cursor: pointer;
}

.action-btn, .second-btn {
    all: unset;
    position: relative;
    padding: var(--size-s) var(--size-l);
    background-color: orange;
    color: white;
    font-weight: bold;
    border: 1px solid var(--c-global-text);
    border-radius: 2px;
    cursor: pointer;

    box-shadow: var(--size-xs) var(--size-xs) var(--c-global-text);
}

.second-btn {
    background-color: white;
    color: orange;

    --c-global-text: orange;
}

.action-btn:hover, .second-btn:hover {
    filter: contrast(1.05);
    scale: 1.008;
    transition: .1s;
}

.action-btn:active, .second-btn:active {
    transform: translateX(var(--size-xs)) translateY(var(--size-xs));
    box-shadow: none;
}